<% provide(:title, "About") %>
<h1>About</h1>
<b>TicketKiller V1.0</b><br>
<p>
  This is the Ticket Killer application created by Colin, Xin, Aozhu, and William!
  This application is designed to prevent you from getting parking tickets.
  <br><br>With this app you will be able to:
<ul>
  <li>Record the position of where you parked</li>
  <li>Get notified when a parking enforcement officer is nearby</li>
  <li>Upload your own sightings</li>
</ul>
This is a community-based application!
</p>