<% provide(:title, "About") %>
<h1>About</h1>
<b>TicketKiller V2.0</b><br>
<p>
  This is the Ticket Killer application created by Colin, Ning, Aozhu, and William!
  It is no secret that parking in Los Angeles can be very difficult. Parking enforcement officers are constantly looking for illegally parked vehicles in order to issue expensive tickets. However, by keeping track of parking enforcement's position, we can minimize both the chances of receiving a ticket and the work needed to move your car. The goal of the web service is to serve as a platform for users to help others and themselves to stay ahead of the officers. Ticket Killer is a community-driven web application which allows users to easily record the positions of all their vehicles, report sightings of parking enforcement officers, and receive a notification when their cars are in danger. Similar to the popular GPS mobile application Waze, Ticket Killer crowdsources data uploaded by users, requiring many users in order to work effectively. Ticket Killer is developed with scalability in mind in order to perform well despite high load.

  <br><br>The main features of Ticket Killer include:

<ul>
  <li>User registration and login to save your vehicles</li>
  <li>Create, delete, edit vehicles</li>
  <li>Record the positions of all your vehicles using a map interface</li>
  <li>Record sightings of parking enforcement officers using a map interface</li>
<li>Alert message when a car is within 0.5 miles of an officer</li>
</ul>
This is a community-based application!
</p>