<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
   Developer: Ticket Killer Team
   <ul>
   		<li><a href="https://github.com/xiuluoxn">Ning Xin</a></li>
   		<li><a href="https://github.com/achen28bamboo">Aozhu Chen</a></li>
   		<li><a href="https://github.com/colinxy">Colin</a></li>
   		<li><a href="https://github.com/willkea">Will</a></li>
   </ul>
</p>