<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	Simple steps to get rid of your tickets:
	<ul>
		<li> <%= link_to "Sign up", signup_path%> with your email</li>
		<li>Report the location of your car and the parking time(When you parked your car)</li>
		<li>Report the location of officers (If you catch any officers :( )</li>
		<li>We will send you notifications when your car need your help</li>
	</ul>
</p> 

