<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	Simple steps to git rid of your ticket:
	<ul>
		<li> <%= link_to "Sign up", signup_path%> with your email</li>
		<li>Report your car location</li>
		<li>We will notify you when your car need your help</li>
	</ul>
</p>

