<div class="center jumbotron">
  <h1>Welcome to the Ticket Killer</h1>

  <h2>
    Tired of finding street parking spaces and paying tickets? 
  </h2>
  <p>
  	<%= link_to image_tag("Ticket.jpg", alt: "Ticket logo"),
    	        root_path %>
  </p>
  <% if logged_in? %>
  	<%= link_to "locate your car", locateYourCar_path, class: "btn btn-lg btn-primary" %>
  	<%= link_to "report officer", reportofficer_path, class: "btn btn-lg btn-primary" %>
  <% else %>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
