<footer class="footer">
  <small>
    The <a><%= link_to "Ticket Killer App", about_path %></a>
    by <a><%= link_to "TicketKiller Team", contact_path %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>